.ViewEvent .ViewEvent-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
    background: #FFFFFF;
}

.ViewEvent .ViewEvent-header a {
    font-size: 13px;
}

.ViewEvent .ViewEvent-header h3 {
    color: #37363E;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin: 5px 0;
}

.ViewEvent .ViewEvent-video-flex {
	margin-top: 30px;
	margin-left: 10%;
	margin-right: 10%;
}

.ViewEvent .ViewEvent-video-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.ViewEvent video {
	max-width: 80%;
	min-width: 100%;
    background-color: var(--main-header-bg);
}

.ViewEvent .img-container {
	position: absolute;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
}

.ViewEvent img {
}
