.Files-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px 50px;
}

.Files-header {
  text-align: left;
  padding: 0px 50px;
}

.Files-header h2 {
  font-weight: normal;
}

.Files-header h4 {
  margin: 0px;
}
