/*Main*/
.ResetPassword {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto 20px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: white;
}

.Register-header {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    color: white;
	background-color: var(--main-header-bg);
}

.Register-header h3 {
  margin-left: 20px;
  font-size: 1.4em;
  font-weight: normal;
}

.ResetPassword h4 {
  color: var(--main-header-bg);
  font-weight: normal;
  font-size: 1.2em;
  margin: 10px 0px 0px 0px;
}

.ResetPassword-header {
  width: 100%;
  padding: 10px 10px;
  border-bottom: 1px solid #ddd;
  background-color: var(--main-header-bg);
}

.ResetPassword-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ResetPassword-header img {
  height: auto;
  max-width: 100%;
  min-width: 100%;
}

.ResetPassword-messages {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50px;
  font-style: italic;
}
