@media only screen and (min-width: 1500px) {
	.EventFile {
		width: 16.6%;
	}
}

@media only screen and (max-width: 1500px) {
	.EventFile {
		width: 25%;
	}
}

@media only screen and (max-width: 800px) {
	.EventFile {
		width: 50%;
	}
}


.EventFile {
	display: flex;
	flex-direction: column;
	padding: 5px;
	cursor: pointer;
}


.EventFile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    font-size: 13px;
    color: #58666E;
}

.EventFile-content {
    border: 1px solid #e5e5e5;
	background-color: white;
	padding: 0px 0px 10px 0px;
	min-height: 230px;
}

.EventFile-content img {
	max-width: 100%;
}

.EventFile-header .label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.EventFile-header .icon {
    margin-right: 5px;
}

.EventFile-video {
    height: 200px;
    background-color: #e6e6e6;
}

.EventFile-video .countdown-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(61, 61, 61, 0.51);
  display: flex;
  align-items: center;
  justify-content: center;
}

.EventFile-video .countdown-overlay span {
  font-size: 75px;
  color: #FFFFFF;
}

.EventFile .EventFile-muted{
  width: inherit;
  display: block;
  height: 20px;
  background-color: red;
  color: white;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  z-index: 1000;
}

.EventFile-info {
    margin-top: 5px;
    background-color: white;
	word-wrap: break-word;
	min-height: 25px;
}

.EventFile-namedate {
	font-weight: 700;
}

.EventFile-url,
.EventFile-move-fan,
.EventFile-feed-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 5px;
    font-size: 12px;
}

.EventFile-move-fan .move.btn {
    font-size: 12px;
    padding: 0;
    transition: color .75s;
}

.EventFile-move-fan .move.btn:hover{
    background: transparent;
    color: #23527c;
}

.EventFile-url .url {
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}

.EventFile-feed-controls .controls {
    display: flex;
    align-items: center;
}

.EventFile-feed-controls .controls .control {
    width: 28px;
    height: 28px;
    margin-left: 2px;
}
