.colorpicker {
	display: flex;
}

.colorpicker .colorpicker-container {
	position: absolute;
	top: 40px;
	z-index: 1000;
}

.colorpicker .sketch-picker {
	width: 300px !important;
}

.colorpicker .sketch-picker input {
	padding: 0px;
}
